/*
!app
!app/docker-entrypoint.sh
!app/bin
!app/server
!app/server/public
!app/flux-eco-learnplaces-frontend-server.mjs
!build
!.gitignore
!CHANGELOG.md
!LICENSE
!metadata.json
!provideEnvironmentsTemplate.sh
!README.md
!docker-compose-template.yaml

