/*
!app
app/*
!app/docker-entrypoint.sh
!app/bin
!app/public/configs
!app/public/app.mjs
!app/public/index.html
!app/public/main.mjs
!app/definition.json
!app/flux-eco-learnplaces-frontend-server.mjs
!build
!.gitignore
!CHANGELOG.md
!LICENSE
!metadata.json
!provideEnvironmentsTemplate.sh
!README.md
!docker-compose-template.yaml

